.navbar {
    background-color: #2D2D2D;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-button .brand {
        font-size: 24px;
        font-weight: bold;
        color: #13E100;
        text-decoration: none;
    }

    .nav-group {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;

        li a {
            color: #61B0FF;
            text-decoration: none;
            font-size: 12px;
        }
    }

    .login-logout {
        background-color: #61B0FF;
        color: #fff;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }
}
