<div class="control-panel">
  <div class="side">
    <div class="panel-title-wrapper">
      <div class="panel-title">INPUT FX</div>
      <hr />
    </div>
    <app-storage-selector type="input"></app-storage-selector>
  </div>

  <div class="screen-container">
    <app-screen></app-screen>
  </div>

  <div class="side">
    <div class="panel-title-wrapper">
      <div class="panel-title">TRACK FX</div>
      <hr />
    </div>
    <app-storage-selector type="track"></app-storage-selector>
  </div>
</div>
